*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}
.container{
    width: 100%;
    height: 100vh;
    background:black ;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,50% 75.5% ,0% 100%);
    
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
    background: black;
    
}
nav {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #1b0f12, #00a1ff); /* Replace with your desired gradient colors */
    z-index: 100;
  }
  
  .logo #blue {
    background: -webkit-linear-gradient(#242222, #00a1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .logo #blue {
    background: linear-gradient(#242222, #00a1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  

#pink{
    position: relative;
   
    bottom: 20px;
    color:rgb(81, 173, 150)

}
.logo
{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}
#blue{
    color: #74b9ff;
    
}
.menu a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.menu a:first-child{
    border-bottom: 1px solid;
    
    background: #74b9ff;
    position:relative;
    
}

.container{
    width: 100%;
    display: flex;justify-content: center;
    align-items: center;
    color: white;
    
}
.left{
    flex-basis: 50%;

}
.right{
    flex-basis: 50%;
    max-width: 400px;
}
.right h1{
    color: #74b9ff;
    font-size: 40px;
}
.right p{
    font-size: 25px;
    margin: 10px 0px;
}
.but
{
    background: transparent;
    padding: 10px 20px;
    color: aqua;
    border: 1px solid #74b9ff;
    border-radius: 8px;
}
#about
{
    padding: 100px 0px;
}
.about-row
{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.about-left-col{
    flex-basis: 50%;
}
.about-right-col{
    flex-basis: 50%;
    text-align:right;
    
}
.about-right-col img
{
width: 40%;
text-align: right;
}
.about-left-col{
    max-width: 400px;
    margin:auto;
}

.about-left-col h1{
    font-size: 50px;
}
.about-left-col p{
    font-size: 20px;
    text-align: justify;
    margin: 15px 0px;
}
.btn1{
    padding: 10px;
    margin: 10px 0px;
    color: white;
    border: none;
    background: #74b9ff;
}

#signup{
    padding-top:50px ;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.03);
    clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 80% ,0% 100%);
}
.signup-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-left-col{
    flex-basis: 50%;
    text-align: center;
}
.signup-right-col{
    flex-basis: 50%;
}
.signup-right-col h1{
    font-size: 90px;
}
.signup-right-col h2{
    font-size: 45px;
    letter-spacing:60px;
    color:rgba(0,0,0,0.3);
    margin: 10px 0px;
}
#services{
    padding: 50px 0px;
}
.info{
    text-align: center;

}
.info h1{
    font-size: 50px;
} 
.info p{
    font-size: 25px;
    font-weight: bold;
}
.services-row{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows: minmax(150px,auto);
    grid-gap: 3em;
    justify-content: center;
    padding-top: 20px;
}
.services-box{
    box-shadow:2px 3px 5px hotpink;
    padding: 10px;
    text-align: center;
}
.services-box i{
    background: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top:-20px;

}

#Goals{
    padding: 100px;
    text-align: center;
    font-size: 30px;
    
}
#work{
    padding-top:50px ;
    padding-bottom:200px ;
    background: rgba(0,0,0,0.03);
}
.work-box{
    box-shadow: 2px 3px 5px hotpink;

}

.yu{
 
    width: 100%;
    position: relative;
}
.worka{
    width: 200px;
    position:absolute;
    margin:20px;
}
.workb{
    width: 200px;
    position:absolute;
    margin:20px;
    
    left:250px;
}
.workc{
    width: 200px;
    position:absolute;
    margin:20px;
    
    left:500px;
}
.workd{
    width: 200px;
    position:absolute;
    top: 200px;
    margin:20px;
 
}
.worke{
    width: 200px;
    position:absolute;
    top: 200px;
    left:250px;
    margin:20px;
    height:110px
}
.workf{
    width: 200px;
    position:absolute;
    top: 200px;
    left:500px;
    margin:20px;
    height:110px;
}

#footer{
    background: black;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

   
    
   
    
